@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #1c1c1c; */
  --background: #222222;
  --foreground: #383838;
  --primary: #ff4800;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #ff4800;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
